<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TestConnectionTimeout" value="60000"/>
    <add key="RetrieveRegistryTimeout" value="300000"/>
    <add key="DefaultRegistryKeyRoot" value="Root Key without RegistryHive"/>
    <add key="DefaultMachineA" value="Machine A Name"/>
    <add key="DefaultMachineB" value="Machine B Name"/>
  </appSettings>
</configuration>